html {
    height: 100%;
  }
  
  body {
    height: 100%;
    color: #1f1f1f;
    font-size: 16px;
    padding: 0 1.5em;
  }
  
  h1 {
    display: inline-block;
    align-items: center;
    justify-content: center;
    font-size: 2.8em;
    margin-top: 1.4em;
    font-family: "Ubuntu", sans-serif;
    text-transform: uppercase;
    padding-bottom: 16px;
  }

  span {
    color: #839f74;
  }
  
  nav {
    float: right;
    width: 60%;
    margin-top: 0.6em;
  }
  
  ul {
    display: flex;
    justify-content: space-between;
  }
  
  li {
    list-style-type: none;
    font-size: 1.3em;
    color: #839f74;
    font-family: "Ubuntu", sans-serif;
    text-transform: uppercase;
    font-weight: bold;
  }

  header img {
    width: 100%;
    margin-bottom: 1.5em;
  }

  h2 {
    color: #839f74;
    font-size: 1.8em;
  }
  
  p {
    font-family: "Quicksand", sans-serif;
    font-size: 1.3em;
    line-height: 1.4em;
  }

  footer {
    display: flex !important;
    justify-content: space-evenly;
    padding: 0.5em;
    border-bottom: 1px solid lightgrey;
    border-top: 1px solid lightgray;
  }

  div {
    padding: 1em;
  }

  #menu {
    flex: 1;
    border-right: 1px lightgray solid;
  }

  #menu p {
    color: #839f74;
  }
  
  #review {
    flex: 1;
    border-right: 1px lightgray solid;
  }

  #cont {
    flex: 1;
  }

  h4 {
    font-family: "Ubuntu", sans-serif;
    font-size: 1.4em;
  }

  #en{
    text-align: center;
    font-size: 1em;
  }
  
  #en span {
    color: #839f74;
    font-family: "Pinyon Script", cursive;
  }